body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

h1 {
    text-align: center;
    color: white;
    font-size: 4rem;
}

.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerContainer {
    background-color: rgb(88, 88, 88);
    padding: 2rem;
    border: solid 3px black;
    border-radius: 1rem;
}

.container-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3rem;
}

.inputs h3 {
    color: rgba(255, 196, 0, 0.925);
    font-size: 3rem;
    margin: 0;
    padding: 0;
    text-shadow: 0px 0px 15px rgb(223, 171, 0);
}

.outputs h3 {
    color: rgba(255, 196, 0, 0.925);
    font-size: 3rem;
    margin: 0;
    padding: 0;
    text-shadow: 0px 0px 15px rgb(223, 171, 0);
}

.inputs {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.outputs {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

input {
    background-color: rgba(255, 255, 255, 0.74);
    font-size: 2rem;
    width: 100%;
    box-shadow: 0;
    transition: box-shadow 0.3s ease;
}

input:focus {
    outline: none;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    transition: box-shadow 0.3s ease;
}

.posButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    position: relative
}

#generateKeysButton {
    font-size: 2rem;
    box-shadow: 0;
    padding: 0.5rem;
    background-color: rgb(189, 189, 189);
    border: none;
    border-radius: 1rem;
    transition: box-shadow 0.2s ease, background-color 0.2s ease;
    cursor: pointer;
}

#generateKeysButton:hover {
    box-shadow: 0 0 20px rgba(255, 217, 0, 0.89);
    background-color: yellow;
}

#generateKeysButton:active {
    box-shadow: 0 0 20px rgba(255, 217, 0, 0.685);
    background-color: rgb(255, 208, 0);
}

.explanation-container {
    background-color: black;
    opacity: 0.9;
    margin-top: 10rem;
}

.explanation-p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 30rem;
    margin-right: 30rem;
}

.explanation-p p {
    color: white;
    font-size: 2rem;
}

.explanation-p ul {
    color: white;
    font-size: 2rem;
    margin-bottom: 5rem;
}

.explanation-p h2 {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    font-size: 2rem;
    color: white;
    display: flex;
    align-self: center;
}

.a {
    color: rgb(0, 255, 0);
    text-shadow: 0 0 5px rgba(0, 156, 13, 0.781);
}

.b {
    color: rgb(0, 255, 0);
    text-shadow: 0 0 5px rgba(0, 156, 13, 0.781);
}

.n {
    color: rgb(153, 0, 255);
    text-shadow: 0 0 5px rgba(94, 0, 131, 0.781);
}

.phi {
    color: rgb(0, 110, 255);
    text-shadow: 0 0 5px rgba(0, 79, 131, 0.781);
}

.d {
    color: rgb(255, 0, 0);
    text-shadow: 0 0 5px rgba(131, 0, 0, 0.781);
}

.e {
    color: rgb(255, 0, 0);
    text-shadow: 0 0 5px rgba(131, 0, 0, 0.781);
}

.p {
    color: rgb(64, 226, 255);
    text-shadow: 0 0 5px rgba(24, 209, 255, 0.781);
}